.App {
  text-align: center;
}

.App-body {
  padding: 1rem;
  padding-bottom: 2rem;
}

.App-footer > p {
  font-size: x-small;
  color: white;
  padding: 0;
  margin: 0;
}

.App-logo {
  width: 100%;
  height: auto;
}

.navbar-brand {
  width: 10rem;
}

.about-section {
  margin: 0 auto;
  max-width: 80%;
}

.details {
  text-align: center;
  justify-content: center;
  max-width: 90%;
  min-width: 80%;
  margin: 0 auto;
}

.typesContainer {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.typeItem {
  padding: 0.1rem;
}

.card-column {
  padding: 0.5rem;
}

.navLink:hover {
  color: #ced4da;
}

.trainer-button {
  margin: 0.25rem;
}

.details-image {
  max-width: 50vw;
  margin: 0 auto;
}

.teammate-image {
  border: 1px solid #adb5bd;
}

.teammate-image-active {
  border: 1px solid #0d6efd;
}

.search-bar {
  margin: 0.5rem;
}
