.App {
  text-align: center;
  padding: none;
  margin: none;
}

.App-header {
  background-color: #c7372f;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 3.5rem;
}

.App-body {
  margin: 2vmin;
}

.App-nav-container {
  width: 100%;
}

.App-nav {
  list-style-type: none;
  overflow: hidden;
  font-size: 1.5rem;
  padding-left: 2rem;
  margin: 0;
  color: white;
}

.App-nav li {
  float: left;
}

.contentBody {
  padding: 1rem;
}

.contentLink {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.contentLink:hover {
  color: #c7372f;
  background-color: #fff;
}

.getMoreBtn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: large;
}

.card-row {
  margin: 1rem;
}

.card-column {
  margin-bottom: 1rem;
}

.newPostCard {
  margin: 2vmin;
}

.cardButton {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}