// Include any default variable overrides here (though functions won't be available)

// scss-docs-start color-variables
$blue:    #007AFF !default;
$indigo:  #5756D5 !default;
$purple:  #AF52DE !default;
$pink:    #FE2C55 !default;
$red:     #DA1B1D !default;
$orange:  #FF9503 !default;
$yellow:  #FEC601 !default;
$green:   #27CD41 !default;
$teal:    #59ADC4 !default;
$cyan:    #54BEF0 !default;
// scss-docs-end color-variables

// scss-docs-start gray-color-variables
$white:    #f1f1f1 !default;
$gray-100: #F2F2F7 !default;
$gray-200: #E5E5E9 !default;
$gray-300: #D1D1D6 !default;
$gray-400: #C7C7CB !default;
$gray-500: #AEAEB2 !default;
$gray-600: #8E8E93 !default;
$gray-700: #3A3A3C !default;
$gray-800: #2C2C2E !default;
$gray-900: #1C1C1E !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $teal !default;
$info:          $orange !default;
$warning:       $indigo !default;
$danger:        $purple !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
body,
html {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.mustard-text {
    color: $white;
}

.mustard-text:hover {
    color: $yellow;
}

.bg-red {
    background-color: $red
}

.card {
    border: none !important;
}

.bg-yellow {
    background-color: $yellow;
}

.hotdog-item {
    padding: 0.25rem;
}

.more-btn {
    color: $white;
    background-color: $red;
    border: 1px $red solid;
}

.more-btn:hover {
    color: $yellow;
    background-color: $pink;
    border: 1px $yellow solid;
}